###> App ###
APP_ENV=dev
APP_SECRET=change_me_to_a_random_32_char_string
APP_DEBUG=true
###< App ###

###> errorwatch/sdk-symfony ###
ERRORWATCH_ENABLED=true
ERRORWATCH_DSN=http://localhost:3333
ERRORWATCH_API_KEY=ew_test_xxx
###< errorwatch/sdk-symfony ###
